@import './utilities/base';
@import './utilities/variables';

.missionsContainer {
  width: 100%;
  .missionsTable {
    text-align: left;
    width: 95%;
    .tableTitles th {
      font-weight: bold;
    }
    th,
    tr {
      font-weight: 400;
    }
    th {
      padding: 0 10px;
    }
  }
}
