@import './utilities/base';
@import './utilities/variables';

.missionsContainer {
  width: 100%;
  .missionsTable {
    text-align: left;
    width: 95%;
    border-collapse: collapse;
    padding: 10px 0;
    .tableCol1 {
      width: 10%;
    }
    .tableCol2 {
      width: 68%;
    }
    .tableTitles th {
      font-weight: bold;
    }
    th,
    tr {
      font-weight: 400;
      border: 2px solid rgb(226, 226, 226);
    }
    tr:nth-child(even) {
      background-color: rgb(240, 240, 240);
    }
    th {
      padding: 10px 10px;
    }
    .bold {
      font-weight: bold;
    }
  }
}
