@import './utilities/base';
@import './utilities/variables';

.profile-container {
	width: 70%;
	text-align: left;
	justify-content: space-between;
	gap: 4rem;
	margin: auto;

	.profile-missions,
	.profile-rockets {
		width: 50%;
	}

	.tableTitle {
		font-size: 20px;
		padding: 10px;
	}

	table {
		border-collapse: collapse;
		width: 90%;
	}

	table tr {
		border: solid 1px rgb(233, 233, 233);
	}

	table td {
		padding: 10px;
	}

	.profile-list {
		margin-top: 2rem;

		ul {
			border: 1px solid #bbb;
			padding: 1rem;
		}
	}
}
